<div class="row">
<h2><%= @task.title %></h2>
<h4><%= @task.details %></h4>
<p><%= @task.done %></p>
<%= link_to "Edit", edit_task_path(@task), :class => "btn btn-warning" %>
<%= link_to "Delete", task_path(@task),
method: :delete,
data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
<%= link_to "Go back", tasks_path(@task), :class => "btn btn-primary" %>
</div>
